.naranja{
    color: #F47920;
}
.gris{
    color: rgb(185, 185, 185);
}
.html{
	background-color:rgb(28, 99, 146);
}
.footer{
    background-color: rgb(24, 35, 189);
}
.desplegable{
    font-size: 22px;
}
.UNAD{
    float: left;
    width: 70%;
}
.anuncio{
    float: right;
    width: 30%;
    align-items: center;
}
.centrar{
    align-items: center;
}
#centrado{
text-align:center;
}
a{
    font-size: 30px;
}

#datos{
margin-top: 4%;
padding-top: 2px;
padding-bottom: 5px;
margin-left: 15%;
background: rgba(169, 225, 225);
width: 50%;
border-radius: 5%;
text-align: center;
}
.thead{
	text-align:center;
	background-color:#3F9;
}
table .azul{
	background-color:#9FF;
	border-collapse:collapse;
}
table .rosa{
    background-color:#F47920;
    border-collapse:collapse;
}
table{
	margin: auto;
}
.titulo {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
}
.menu {
    padding:30px;
    width: auto;
    text-size-adjust: 10px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.titulo2 {
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    padding-left:30px;
    padding-right:30px;
}
.parrafo{
    padding-left:30px;
    padding-right:30px;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
